<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="media/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="media/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <title>funfetchy</title>
</head>


<body align="center">
  <canvas id="text" width="600" height="100"></canvas>
  <div id="slideshow">
    <ul class="slides">
      {% if subs %}
      {% for s in subs %}
      <li><img src='image/{{ s.key }}' alt="{{ s.title }}" author="{{ s.author }}" /></li>
      {% endfor %}
      {% endif %}
    </ul>
    <span class="arrow previous"></span>
    <span class="arrow next"></span>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="media/script.js"></script>
</body>
</html>




